@page "/Activity"
@using OGEInflow.Client.Services
<link rel="stylesheet" href="css/activity.css">


<PageTitle>Activity</PageTitle>

<div class="activity-header">
    <h1>Activity</h1>
    <div>
        <MudText Typo="Typo.body1">Scans: @filteredReaderEvents.Count</MudText>
        <MudText Typo="Typo.body1">People: @PersonCountFromFilter</MudText>
        <MudText Typo="Typo.body1">Unique People per Day: @AvgUniquePeople</MudText>
    </div>
</div>


<div class="dateFilter">
    <h2 class="timeframe">TimeFrame</h2>

    <!-- Start Date Picker -->
    <div class="datepicker-group">
        <div class="datepicker">
            <MudDatePicker @ref="StartPicker"
                           Label="Start Date"
                           MinDate="@MinDate"
                           MaxDate="@EndDate"
                           AutoClose="@_autoClose"
                           DateChanged="@RefreshGraphs"
            >
                <PickerActions>
                    <MudButton Class="mr-auto align-self-start" OnClick="@(() => StartPicker.ClearAsync())">Clear</MudButton>
                    <MudButton OnClick="@(() => StartPicker.CloseAsync(false))">Cancel</MudButton>
                    <MudButton Color="Color.Primary" OnClick="@(() => StartPicker.CloseAsync())">Ok</MudButton>
                </PickerActions>
            </MudDatePicker>
        </div>

        <h3 class="timeframe_between">to</h3>

        <!-- End Date Picker -->
        <div class="datepicker">
            <MudDatePicker @ref="@EndPicker"
                           Label="End Date"
                           MinDate="@StartDate"
                           MaxDate="@MaxDate"
                           AutoClose="@_autoClose"
                           DateChanged="@RefreshGraphs">
                <PickerActions>
                    <MudButton Class="mr-auto align-self-start" OnClick="@(() => EndPicker.ClearAsync())">Clear</MudButton>
                    <MudButton OnClick="@(() => EndPicker.CloseAsync(false))">Cancel</MudButton>
                    <MudButton Color="Color.Primary" OnClick="@(() => EndPicker.CloseAsync())">Ok</MudButton>
                </PickerActions>
            </MudDatePicker>
        </div>
    </div>

    <div class="nav-group-container">
        <MudNavGroup Title="Location" Icon="@Icons.Material.Filled.Place">
            <MudNavLink Href="map.html">Map</MudNavLink>
            <MudNavLink Href="contact.html">Contact Info</MudNavLink>
        </MudNavGroup>
    </div>
</div>




<MudGrid GutterSize="3" Class="equal-height-grid">
    <!-- Warnings -->
    <MudItem xs="12" sm="6">
        <MudPaper Class="pa-4">
            <MudText Typo="Typo.h5">Warning Flags</MudText>
            <div class="warning-container">
                <MudImage Src="img/warning.png" Class="warning-container-image" />
                <MudText Typo="Typo.h6">@WarningManager.FlattenedHighReaderUsageWarnings.Count() counts of high scanner usage</MudText>
            </div>
            <div class="warning-container">
                <MudImage Src="img/warning.png" Class="warning-container-image" />
                <MudText Typo="Typo.h6">@WarningManager.FlattenedDoubleScanWarnings.Count() counts of double scans</MudText>
            </div>
        </MudPaper>
    </MudItem>

    <!-- Most Active Hours -->
    <MudItem xs="12" sm="6">
        <MudPaper Class="pa-4">
            <MudChart ChartType="ChartType.Bar"
                      ChartSeries="@RankedHoursGraphs.Series"
                      XAxisLabels="@RankedHoursGraphs.Labels"
                      Width="100%"
                      Height="300px"
                      ChartOptions="@RankedHoursGraphs.Options" />
        </MudPaper>
    </MudItem>

    <!-- Scan Activations -->
    <MudItem xs="12" sm="6">
        <MudPaper Class="pa-4">
            <MudChart ChartType="ChartType.Line"
                      ChartSeries="@ScanActivationsGraph.Series"
                      XAxisLabels="@ScanActivationsGraph.Labels"
                      Width="100%"
                      Height="300px"
                      ChartOptions="@ScanActivationsGraph.Options" />
        </MudPaper>
    </MudItem>

    <!-- Most Active Reader -->
    <MudItem xs="12" sm="6">
        <MudPaper Class="pa-4">
            <MudChart ChartType="ChartType.Bar"
                      ChartSeries="@RankedReaderIDGraph.Series"
                      XAxisLabels="@RankedReaderIDGraph.Labels"
                      Width="100%"
                      Height="350px"
                      ChartOptions="@RankedReaderIDGraph.Options" />
        </MudPaper>
    </MudItem>

    <!-- Most Active People Ranked -->
    <MudItem xs="12" sm="6">
        <MudPaper Class="pa-4">
            <MudChart ChartType="ChartType.Bar"
                      ChartSeries="@RankedPersonIDGraph.Series"
                      XAxisLabels="@RankedPersonIDGraph.Labels"
                      Width="100%"
                      Height="300px"
                      ChartOptions="@RankedPersonIDGraph.Options" />
        </MudPaper>
    </MudItem>

    <!-- Most Active Panels Ranked -->
    <MudItem xs="12" sm="6">
        <MudPaper Class="pa-4">
            <MudChart ChartType="ChartType.Bar"
                      ChartSeries="@RankedMachineGraph.Series"
                      XAxisLabels="@RankedMachineGraph.Labels"
                      Width="100%"
                      Height="350px"
                      ChartOptions="@RankedMachineGraph.Options" />
        </MudPaper>
    </MudItem>
</MudGrid>

