@page "/CSVData"
@using OGEInflow.Services
<link rel="stylesheet" href="css/csvData.css"/>
<div class="page-container">
    <h3>CSVData</h3>
    <div class="MudDataGrid-container">
        <!-- Reader Events-->
        <MudDataGrid T="ReaderEvent"
                     Items="readerEventsSummary"
                     Filterable="true"
                     SortMode="SortMode.Multiple"
                     QuickFilter="@quickFilterReaderEvent"
                     RowsPerPage="10">

            <ToolBarContent>
                <MudText Typo="Typo.h6">Reader Event Log</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="_searchStringReaderEvent"
                              Placeholder="Search"
                              Adornment="Adornment.Start"
                              Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium"
                              Class="mt-0" />
            </ToolBarContent>

            <Columns>
                <PropertyColumn Property="x => x.ReaderID" Title="Reader ID" />
                <PropertyColumn Property="x => x.ReaderDesc" Title="Reader Description" />
                <PropertyColumn Property="x => x.Location" />
                <PropertyColumn Property="x => x.ID" />
                <PropertyColumn Property="x => x.EventTime" Title="Time" />
            </Columns>

            <PagerContent>
                <MudDataGridPager T="ReaderEvent" />
            </PagerContent>
        </MudDataGrid>
        
        
        <!-- ReaderIDs -->
        <MudDataGrid T="ReaderScanSummary"
                     Items="readerSummaries"
                     QuickFilter="@quickFilterReaderSummary"
                     Filterable="true"
                     SortMode="SortMode.Multiple"
                     RowsPerPage="10">

            <ToolBarContent>
                <MudText Typo="Typo.h6">Total Scans per Reader</MudText>
                <MudSpacer/>
                <MudTextField @bind-Value="_searchStringReader"
                              Placeholder="Search"
                              Adornment="Adornment.Start"
                              Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium"
                              Class="mt-0"/>
            </ToolBarContent>

            <Columns>
                <PropertyColumn Property="x => x.ReaderID"/>
                <PropertyColumn Property="x => x.Location"/>
                <PropertyColumn Property="x => x.ReaderDesc" Title="Reader Description"/>
                <PropertyColumn Property="x => x.ScanCount" Title="Total Scans"/>
            </Columns>

            <PagerContent>
                <MudDataGridPager T="ReaderScanSummary"/>
            </PagerContent>
        </MudDataGrid>


        <!-- Panel Section -->
        <MudDataGrid T="MachineScanSummary"
                     Items="machineSummaries"
                     QuickFilter="quickFilterMachineSummary"
                     Filterable="true"
                     SortMode="SortMode.Multiple"
                     RowsPerPage="10">

            <ToolBarContent>
                <MudText Typo="Typo.h6">Total Scans per Panel (Machine)</MudText>
                <MudSpacer/>
                <MudTextField @bind-Value="_searchStringMachine"
                              Placeholder="Search"
                              Adornment="Adornment.Start"
                              Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium"
                              Class="mt-0"/>
            </ToolBarContent>

            <Columns>
                <PropertyColumn Property="x => x.MachineID"/>
                <PropertyColumn Property="x => x.Location"/>
                <PropertyColumn Property="x => x.ScanCount" Title="Total Scans"/>
            </Columns>

            <PagerContent>
                <MudDataGridPager T="MachineScanSummary"/>
            </PagerContent>
        </MudDataGrid>


        <!-- Person Section -->
        <MudDataGrid T="PersonScanSummary"
                     Items="personSummaries"
                     QuickFilter="quickFilterPersonSummary"
                     Filterable="true"
                     SortMode="SortMode.Multiple"
                     RowsPerPage="10">

            <ToolBarContent>
                <MudText Typo="Typo.h6">Total Scans per Person</MudText>
                <MudSpacer/>
                <MudTextField @bind-Value="_searchStringPerson"
                              Placeholder="Search"
                              Adornment="Adornment.Start"
                              Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium"
                              Class="mt-0"/>
            </ToolBarContent>

            <Columns>
                <PropertyColumn Property="x => x.PersonID"/>
                <PropertyColumn Property="x => x.ReaderDesc" Title="Most Common Location"/>
                <PropertyColumn Property="x => x.ScanCount" Title="Total Scans"/>
            </Columns>

            <PagerContent>
                <MudDataGridPager T="PersonScanSummary"/>
            </PagerContent>
        </MudDataGrid>
    </div>
</div>

