@page "/"
@using OGEInflow.Client.Layout
@layout InflowLayout
@using OGEInflow.Services
<link rel="stylesheet" href="css/home.css">


<PageTitle>Home</PageTitle>
<h1>Welcome</h1>

<div class="dateFilter">
    <h2 class="timeframe">TimeFrame</h2>

    <!-- Start Date Picker -->
    <div class="datepicker">
        <MudDatePicker @ref="StartPicker"
                       Label="Start Date"
                       @bind-Date="StartDate"
                       MinDate="@FirstDate"
                       MaxDate="EndDate"
                       AutoClose="@_autoClose"
                       >
            <PickerActions>
                <MudButton Class="mr-auto align-self-start" OnClick="@(() => StartPicker.ClearAsync())">Clear</MudButton>
                <MudButton OnClick="@(() => StartPicker.CloseAsync(false))">Cancel</MudButton>
                <MudButton Color="Color.Primary" OnClick="@(() => StartPicker.CloseAsync())">Ok</MudButton>
            </PickerActions>
        </MudDatePicker>
    </div>

    <h3 class="timeframe_between">to</h3>

    <!-- End Date Picker -->
    <div class="datepicker">
        <MudDatePicker @ref="@EndPicker"
                       Label="End Date"
                       @bind-Date="@EndDate"
                       MinDate="@StartDate"
                       MaxDate="@LastDate"
                       AutoClose="@_autoClose">
            <PickerActions>
                <MudButton Class="mr-auto align-self-start" OnClick="@(() => EndPicker.ClearAsync())">Clear</MudButton>
                <MudButton OnClick="@(() => EndPicker.CloseAsync(false))">Cancel</MudButton>
                <MudButton Color="Color.Primary" OnClick="@(() => EndPicker.CloseAsync())">Ok</MudButton>
            </PickerActions>
        </MudDatePicker>
    </div>
</div>

<button onclick="@RefreshGraphs">Refresh Graphs</button>


<div class="grid-container">
    <div class="grid-item">
        <MudChart ChartType="ChartType.Bar" ChartSeries="@RankedAvgAreaGraph.Series" 
                  XAxisLabels="@RankedAvgAreaGraph.Labels" Width="100%" 
                  ChartOptions="@RankedAvgAreaGraph.Options"></MudChart>
    </div>
    <!-- Warnings -->
    <div class="grid-item">
        <h2>Warning Flags</h2>
    </div>
   
    <div class="grid-item">
        <MudChart ChartType="ChartType.Line" ChartSeries="@ScanActivationsGraph.Series"
                  XAxisLabels="@ScanActivationsGraph.Labels" Width="100%" Height="350" 
                  ChartOptions="ScanActivationsGraph.Options"></MudChart>
    </div>
    <!-- Most Active Reader -->
    <div class="grid-item">
        <MudChart ChartType="ChartType.Bar" ChartSeries="@RankedReaderIDGraph.Series"
                  XAxisLabels="@RankedReaderIDGraph.Labels" Width="100%" Height="350"
                  ChartOptions="RankedReaderIDGraph.Options"></MudChart>
    </div>
    
    <!-- Most Active People Ranked -->
    <div class="grid-item">
        <MudChart ChartType="ChartType.Bar" ChartSeries="@RankedPersonIDGraph.Series" 
                  XAxisLabels="@RankedPersonIDGraph.Labels"Width="100%" Height="350"
                  ChartOptions="RankedPersonIDGraph.Options"></MudChart>
    </div>
    <!-- Most Active Panels Ranked -->
    <div class="grid-item" >
        <MudChart ChartType="ChartType.Bar" ChartSeries="@RankedMachineGraph.Series"
                  XAxisLabels="@RankedMachineGraph.Labels" Width="100%" Height="350"
                  ChartOptions="RankedMachineGraph.Options"></MudChart>
    </div>
    
</div>
