@page "/Map"
@using OGEInflow.Services
@using OGEInflow.Client.Components
<link rel="stylesheet" href="css/map.css"/>
<h3>Map</h3>
<div class="page-container">
    <div class="map-container">
        <MudImage Class="map-image" Src="img/facility.png"></MudImage>
        <Pin Label="2-30" Top="100px" Left="40px" OnClick="@TestOutputVal" />
        <Pin Label="2-30" Top="300px" Left="70px" OnClick="@(() => EditPopup("test", "test", null, null))" />
        <Panel Label="3-50" Top="100px" Left="100px" OnClick="@TestOutputVal" />
       
    </div>
    <div>
        <p>@testoutput</p>
    </div>
    @if (ShowPopup)
    {
        <MapPopup IconName="@IconName" Usage="@Usage" Issues="@Issues" ConnectedReaders="@ConnectedReaders" OnClose="@TogglePopup" />
    }
</div>