@page "/Map"
@using OGEInflow.Client.Components

<link rel="stylesheet" href="css/map.css"/>
<h3>Map</h3>
<div class="page-container">
    <div class="greater-map-container">

        <div class="legend">
            <div class="legend-item" @onclick="TogglePanels">
                <div class="legend-square @(ShowPanels ? "map-panel" : "")"></div>
                <span>Panels</span>
            </div>
            <div class="legend-item" @onclick="ToggleReaders">
                <div class="legend-square @(ShowReaders ? "reader" : "")"></div>
                <span>Readers</span>
            </div>
            <div class="legend-item" @onclick="ToggleHotPoints">
                <div class="legend-square @(ShowHotPoints ? "hotpoint" : "")"></div>
                <span>Hot Points</span>
            </div>
        </div>
        <div class="map-container">
            <MudImage Class="@MapFilterClass" Src="img/facility.png"></MudImage>
            @if (ShowPanels)
            {
                <Panel Label="25" Top="300px" Left="800px" OnClick="@(() => Panel.PanelSetMapPopup("25"))"/>
                <Panel Label="182" Top="270px" Left="600px" OnClick="@(() => Panel.PanelSetMapPopup("182"))"/>
                <Panel Label="274" Top="140px" Left="790px" OnClick="@(() => Panel.PanelSetMapPopup("274"))"/>
                <Panel Label="323" Top="230px" Left="670px" OnClick="@(() => Panel.PanelSetMapPopup("323"))"/>
                <Panel Label="322" Top="530px" Left="650px" OnClick="@(() => Panel.PanelSetMapPopup("322"))"/>
                <Panel Label="34" Top="320px" Left="30px" OnClick="@(() => Panel.PanelSetMapPopup("34"))"/>
                <Panel Label="39" Top="160px" Left="410px" OnClick="@(() => Panel.PanelSetMapPopup("39"))"/>
                <Panel Label="285" Top="40px" Left="390px" OnClick="@(() => Panel.PanelSetMapPopup("285"))"/>
                <Panel Label="286" Top="40px" Left="790px" OnClick="@(() => Panel.PanelSetMapPopup("286"))"/>
                <Panel Label="287" Top="40px" Left="950px" OnClick="@(() => Panel.PanelSetMapPopup("287"))"/>
                
                
            }
            @if (ShowReaders)
            {
                <Pin Label="1-25" Top="290px" Left="830px" OnClick="@(() => Pin.ReaderSetMapPopup("1-25"))"/>
                <Pin Label="2-25" Top="290px" Left="870px" OnClick="@(() => Pin.ReaderSetMapPopup("2-25"))"/>
                <Pin Label="3-25" Top="360px" Left="760px" OnClick="@(() => Pin.ReaderSetMapPopup("3-25"))"/>
                <Pin Label="4-25" Top="360px" Left="800px" OnClick="@(() => Pin.ReaderSetMapPopup("4-25"))"/>
                
                <Pin Label="6-182" Top="230px" Left="530px" OnClick="@(() => Pin.ReaderSetMapPopup("6-182"))"/>
                <Pin Label="17-182" Top="270px" Left="530px" OnClick="@(() => Pin.ReaderSetMapPopup("17-182"))"/>
                <Pin Label="18-182" Top="230px" Left="710px" OnClick="@(() => Pin.ReaderSetMapPopup("18-182"))"/>
                <Pin Label="16-182" Top="240px" Left="760px" OnClick="@(() => Pin.ReaderSetMapPopup("16-182"))"/>
                <Pin Label="3-182" Top="300px" Left="530px" OnClick="@(() => Pin.ReaderSetMapPopup("3-182"))"/>
                <Pin Label="10-182" Top="300px" Left="560px" OnClick="@(() => Pin.ReaderSetMapPopup("10-182"))"/>
                <Pin Label="4-182" Top="300px" Left="640px" OnClick="@(() => Pin.ReaderSetMapPopup("4-182"))"/>
                
                <Pin Label="19-182" Top="350px" Left="480px" OnClick="@(() => Pin.ReaderSetMapPopup("19-182"))"/>
                <Pin Label="1-182" Top="350px" Left="530px" OnClick="@(() => Pin.ReaderSetMapPopup("1-182"))"/>
                <Pin Label="5-182" Top="290px" Left="480px" OnClick="@(() => Pin.ReaderSetMapPopup("5-182"))"/>
                
                <Pin Label="11-274" Top="180px" Left="910px" OnClick="@(() => Pin.ReaderSetMapPopup("11-274"))"/>
                <Pin Label="9-274" Top="160px" Left="950px" OnClick="@(() => Pin.ReaderSetMapPopup("9-274"))"/>
                <Pin Label="10-274" Top="110px" Left="890px" OnClick="@(() => Pin.ReaderSetMapPopup("10-274"))"/> 
                
                
                <Pin Label="2-274" Top="130px" Left="750px" OnClick="@(() => Pin.ReaderSetMapPopup("2-274"))"/>
                <Pin Label="1-274" Top="130px" Left="820px" OnClick="@(() => Pin.ReaderSetMapPopup("1-274"))"/>
                <Pin Label="6-274" Top="180px" Left="750px" OnClick="@(() => Pin.ReaderSetMapPopup("6-274"))"/>
                <Pin Label="5-274" Top="180px" Left="820px" OnClick="@(() => Pin.ReaderSetMapPopup("5-274"))"/>
                
                <Pin Label="1-323" Top="140px" Left="640px" OnClick="@(() => Pin.ReaderSetMapPopup("1-323"))"/>
                <Pin Label="2-323" Top="140px" Left="590px" OnClick="@(() => Pin.ReaderSetMapPopup("2-323"))"/>
                <Pin Label="6-323" Top="210px" Left="610px" OnClick="@(() => Pin.ReaderSetMapPopup("6-323"))"/>
                
                <Pin Label="22-322" Top="480px" Left="590px" OnClick="@(() => Pin.ReaderSetMapPopup("2-322"))"/>
                <Pin Label="1-322" Top="520px" Left="590px" OnClick="@(() => Pin.ReaderSetMapPopup("1-322"))"/>
                <Pin Label="2-322" Top="480px" Left="680px" OnClick="@(() => Pin.ReaderSetMapPopup("2-322"))"/>
                
                <Pin Label="1-34" Top="350px" Left="50px" OnClick="@(() => Pin.ReaderSetMapPopup("1-34"))"/>
                
                <Pin Label="3-39" Top="150px" Left="460px" OnClick="@(() => Pin.ReaderSetMapPopup("3-39"))"/>
                <Pin Label="1-39" Top="190px" Left="460px" OnClick="@(() => Pin.ReaderSetMapPopup("1-39"))"/>
                <Pin Label="2-39" Top="200px" Left="420px" OnClick="@(() => Pin.ReaderSetMapPopup("2-39"))"/>
                <Pin Label="4-39" Top="280px" Left="760px" OnClick="@(() => Pin.ReaderSetMapPopup("4-39"))"/>
                
                <Pin Label="1-285" Top="40px" Left="470px" OnClick="@(() => Pin.ReaderSetMapPopup("1-285"))"/>
                
                <Pin Label="1-286" Top="40px" Left="870px" OnClick="@(() => Pin.ReaderSetMapPopup("1-286"))"/>
                
                <Pin Label="1-287" Top="40px" Left="910px" OnClick="@(() => Pin.ReaderSetMapPopup("1-287"))"/>
                
                
                
                
                
                
                
            }
            
            
        </div>
    </div>
    @if (ShowPopup)
    {
        <MapPopup IconName="@IconName" Usage="@Usage" Issues="@Issues" ConnectedReaders="@ConnectedReaders" OnClose="() => OnEditMapPopup?.Invoke()"/>
    }
</div>