@page "/Warnings"
@using OGEInflow.Client.Layout
@using OGEInflow.Client.Services
@using OGEInflow.Client.Components
@layout InflowLayout
<link rel="stylesheet" href="css/warnings.css"/>

<div class="page-container">
    <h3>Warnings</h3>
    <div class="warnings-container">
        
        <WarningDataGrids Warnings="@WarningManager.FlattenedDoubleScanWarnings" Title="Double Scans"></WarningDataGrids>
        <WarningDataGrids Warnings="@WarningManager.FlattenedPastReaderThresholdWarnings" Title="Reader Threshold Violations"></WarningDataGrids>
        <WarningDataGrids Warnings="@WarningManager.FlattenedNearReaderThresholdWarnings" Title="Near Reader Threshold Violations"></WarningDataGrids>
        <WarningDataGrids Warnings="@WarningManager.FlattenedPastPanelThresholdWarnings" Title="Panel Threshold Violations"></WarningDataGrids>
        <WarningDataGrids Warnings="@WarningManager.FlattenedNearPanelThresholdWarnings" Title="Near Panel Threshold Violations"></WarningDataGrids>
        <WarningDataGrids Warnings="@WarningManager.FlattenedReaderDoubleScanThresholdWarnings" Title="Excessive Reader Double Scans"></WarningDataGrids>
        <WarningDataGrids Warnings="@WarningManager.FlattenedOutsideUseHourWarnings" Title="Person Outside Use Hours"></WarningDataGrids>
    </div>
</div>