@page "/Warnings"
@using OGEInflow.Client.Layout
@using OGEInflow.Services
@using OGEInflow.Services.WarningTypes
@layout InflowLayout
<h3>Warnings</h3>

<div class="warnings-container">
    <!-- DoubleScans -->
    <MudDataGrid T="ReaderEvent"
                 Items="@ReaderEventWarning.DoubleScansReaderEvents"
                 Filterable="true"
                 SortMode="SortMode.Multiple"
                 QuickFilter="@quickFilterDoubleScan"
                 RowsPerPage="10"
                 >

        <ToolBarContent>
            <MudText Typo="Typo.h6">Double Scan Warnings</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="_searchString"
                          Placeholder="Search"
                          Adornment="Adornment.Start"
                          Immediate="true"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          Class="mt-0" />
        </ToolBarContent>

        <Columns>
            <PropertyColumn Property="x => x.ReaderID" />
            <PropertyColumn Property="x => x.Location" />
            <PropertyColumn Property="x => x.ReaderDesc" Title="Reader Description" />
            <PropertyColumn Property="x => x.EventTime" Title="Time" />
        </Columns>

        <PagerContent>
            <MudDataGridPager T="ReaderEvent" />
        </PagerContent>
    </MudDataGrid>


    <!-- High Usage Reader Events -->
    <MudDataGrid T="WarningTypes"
                 Items="@ReaderEventWarning.HighReaderUsageReaderEvents"
                 Filterable="true"
                 SortMode="SortMode.Multiple"
                 QuickFilter="@quickFilterHighUsageScans"
                 RowsPerPage="10">

        <ToolBarContent>
            <MudText Typo="Typo.h6">High Reader Usage Warnings</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="_searchString"
                          Placeholder="Search"
                          Adornment="Adornment.Start"
                          Immediate="true"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          Class="mt-0" />
        </ToolBarContent>

        <Columns>
            <PropertyColumn Property="x => x.ReaderEvent.ReaderID" />
            <PropertyColumn Property="x => x.ReaderEvent.Location" />
            <PropertyColumn Property="x => x.ReaderEvent.ReaderDesc" Title="Reader Description" />
            <PropertyColumn Property="x => x.ScanCount" Title="Scan Count" />
        </Columns>

        <PagerContent>
            <MudDataGridPager T="WarningTypes" />
        </PagerContent>
    </MudDataGrid>
</div>